body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.am-tab-bar{
  position: fixed;
  width: 100%;
	bottom: 0;
	z-index:1000;
}
.am-card-header-content img{
  width:40px;
}

.error-msg {
	color: #f50;
	padding-left: 10px;
	padding-top: 10px;
}

.am-tab-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto !important;
}

.fixd-header.am-navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

.page-content {
	padding: 45px 5px;
}

#chat-page .chat-me .am-list-extra {
	flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
	padding-right: 15px;
	text-align: right;
}

#chat-page .am-grid-icon {
	display: none;
}

#chat-page .am-grid-text {
	margin-top: 0;
	font-size: 30px;
}

.sticky-footer {
	z-index: 10;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dashboard-content {
	margin-top: 45px;
}

.dashboard-content .am-card-header-extra {
	font-size: 14px;
}
.stick-footer{
	position: fixed;
	bottom:0;
	width:100%;
}